@import url("http://fonts.googleapis.com/css?family=Fenix");

/* CSS Mini Reset */
/* http://www.vcarrer.com/2010/05/css-mini-reset.html */
html, body, div, form, fieldset, legend, label {
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

th, td {
	text-align: left;
	vertical-align: top;
}

h1, h2, h3, h4, h5, h6, th, td, caption { font-weight:normal; }

img { border: 0; }
/* End of CSS Mini Reset */

body {
	padding: 20px;
	font-family: 'Fenix', serif;
	font-size: 1.4em;
}

div.outer {
	border: 3px solid black;
	border-radius: 6px;
	width: 600px;
	box-shadow: 3px 3px 5px #888888;
	margin: auto;
}

div.inner {
	padding: 5% 10%;
}

h3 {
	margin-bottom: 0px;
}

ul {
	margin-top: 0px;
}
